
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div class="main-agileinfo">

    <div asp-validation-summary="All"></div>
    <div class="agileits-top">

        <div>
            <p>
                Reset Password Link Has Been Send To Your Email , Please Check Your Inbox
            </p>
        </div>


  </div>
  </div >
