@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

v class="main-agileinfo">
<div asp-validation-summary="All"></div>
<div class="agileits-top">
	<form asp-action="ResetPassword">	
		<input class="text" asp-for="Password" placeholder="Password" required="">
		<input class="text w3lpass" asp-for="ConfirmPassword" placeholder="Confirm Password" required="">
		<div class="wthree-text">
		
		<input type="submit" value="Reset Password">
	</form>
	
</div>
</div>