@model RoleViewModel
@{
    ViewData["Title"] = "Delete";
}
<h1>Delete Role</h1>

<br />
<br />
<form asp-action="Delete">
    <div class="my-3">
        <partial name="RolePartialView/DeleteDetailsEmployeePartial" model="Model" />
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-light">Back To List</a>
    </div>
</form>